# "Decrypt using OpenSSL" Konqueror context menu entry
#
# Copyright (C) 2007 Bogdan 'bogdro' Drozdowski, bogdandr # op . pl
#	[EN] http://miniurl.pl/bogdro-soft
#
# This file may be used only according to the licence of Konqueror itself.
#

[Desktop Entry]
ServiceTypes=all/allfiles
Actions=SSLdec

[Desktop Action SSLdec]
Name=Decrypt using OpenSSL
Name[pl]=Odszyfruj używając OpenSSL
Icon=encrypted
Exec=dcop kdesktop KDesktopIface popupExecuteCommand "xterm -e $HOME/bin/Openssl-decrypt.sh %f"

