# "Safe remove directory (recurse)" Konqueror context menu entry
#
# Copyright (C) 2007 Bogdan 'bogdro' Drozdowski, bogdandr # op . pl
#	[EN] http://miniurl.pl/bogdro-soft
#
# This file may be used only according to the licence of Konqueror itself.
#

[Desktop Entry]
ServiceTypes=inode/directory
Actions=safeRemoveDir

[Desktop Action safeRemoveDir]
Name=Safe remove directory (recurse)
Name[pl]=Bezpiecznie (rekursywnie) usuń katalog
Icon=remove
Exec=dcop kdesktop KDesktopIface popupExecuteCommand "/bin/sh -c \" $HOME/bin/Shred-rec.sh %f\""
#"/bin/sh -c find %F -type f -exec shred -u '{}' \; && rm -fr %F"

# find ... \; && for i in `seq 1 10`; do echo $i; done
