# "Mount using TrueCrypt" Konqueror context menu entry
#
# Copyright (C) 2007 Bogdan 'bogdro' Drozdowski, bogdandr # op . pl
#	[EN] http://miniurl.pl/bogdro-soft
#
# This file may be used only according to the licence of Konqueror itself.
#

[Desktop Entry]
ServiceTypes=all/allfiles
Actions=mountTC

[Desktop Action mountTC]
Name=Mount using TrueCrypt
Name[pl]=Zamontuj używając TrueCrypt
Icon=encrypted
Exec=dcop kdesktop KDesktopIface popupExecuteCommand "xterm -e $HOME/bin/Truecrypt-mount.sh %f"

